services:
  mongodb:
    image: mongo:7
    container_name: nghiep-hung-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: unless-stopped

volumes:
  mongodb_data:
